.header-bar{
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 40px ;
    color: rgb(202, 201, 201);
    background-color: rgb(168 85 247);
}

.title{
    font-size: 26px

}
